<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Add Lead</h1>
    <div mat-dialog-content>
        <div class="input-fields">
            <mat-form-field appearance="outline">
                <mat-label>Company name</mat-label>
                <input [disabled]="loading" [(ngModel)]="lead.companyName" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Choose an option</mat-label>
                <mat-select [(ngModel)]="lead.priority">
                    <mat-option value="Low">Low</mat-option>
                    <mat-option value="Medium">Medium</mat-option>
                    <mat-option value="Heigh">Heigh</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="input-fields">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Location</mat-label>
                <input [disabled]="loading" [(ngModel)]="lead.location" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Street + House No.</mat-label>
                <input [disabled]="loading" [(ngModel)]="lead.zipCode" matInput>
            </mat-form-field>
        </div>
        <h1 mat-dialog-title>Contact Person</h1>
        <div class="input-fields">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input [disabled]="loading" [(ngModel)]="lead.contactPersons[0].name" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Position</mat-label>
                <input [disabled]="loading" [(ngModel)]="lead.contactPersons[0].position" matInput>
            </mat-form-field>
        </div>
        <div class="input-fields">
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input [disabled]="loading" [(ngModel)]="lead.contactPersons[0].email" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input [disabled]="loading" [(ngModel)]="lead.contactPersons[0].phoneNumber" matInput>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button [disabled]="loading" (click)="closeDialog()">Cancel</button>
        <button mat-button [disabled]="loading" (click)="saveData()" cdkFocusInitial>Save</button>
    </div>
</div>