<div class="login-container">
    <mat-card>
        <mat-icon (click)="backToOptions()" *ngIf="showLogin || showSignUp" [style.fontSize.px]="40"
            class="back-arrow">arrow_back</mat-icon>
        <mat-card-header>
            <img src="/assets/img/logo.svg" alt="logo">
        </mat-card-header>
        <mat-card-actions *ngIf="!showLogin && !showSignUp">
            <button mat-button (click)="showLogin = !showLogin">LOGIN</button>
            <button mat-button (click)="showSignUp = !showSignUp">SIGN UP</button>
            <button mat-button (click)="loginAsGuest()">GUEST</button>
        </mat-card-actions>
        <form *ngIf="showLogin" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button mat-button typ="submit" [disabled]="!loginForm.valid">LOGIN</button>
        </form>
        <form *ngIf="showSignUp" [formGroup]="signupForm" (ngSubmit)="signUpUser()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Placeholder" formControlName="password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>repeat password</mat-label>
                <input matInput placeholder="repeat password" formControlName="confirmPassword">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button mat-button>SIGNUP</button>
        </form>
    </mat-card>
</div>