<mat-drawer-container class="mat-drawer-container " autosize>
    <mat-drawer #drawer class="side-nav" [opened]="true" mode="side">
        <div class="logo-container">
            <img src="./assets/img/logo.svg" alt="Logo">
        </div>
        <div class="menu-points">
            <ul>
                <li [routerLink]="'/dashboard'"> <mat-icon>space_dashboard</mat-icon> Dashboard</li>
                <li [routerLink]="'/sales-pipeline'"><mat-icon>view_kanban</mat-icon> Sales Pipeline</li>
                <li [routerLink]="'/customer'"><mat-icon>contacts</mat-icon> Customer</li>
                <li [routerLink]="'/leads'"><mat-icon>person_search</mat-icon>Leads</li>
                <li [routerLink]="'/products'"><mat-icon>sell</mat-icon> Products</li>
                <li [routerLink]="'/calendar'"><mat-icon>calendar_month</mat-icon>Calendar</li>
            </ul>
            <ul>
                <li [routerLink]="'/legal-notice'"><mat-icon>priority_high</mat-icon>Legal Notice</li>
                <li [routerLink]="'/data-protection'"><mat-icon>privacy_tip</mat-icon>Data Protection</li>
                <li (click)="logout()"><mat-icon>logout</mat-icon>LOGOUT</li>
            </ul>
        </div>
    </mat-drawer>
    <mat-toolbar>
        <div class="burger-menu">
            <mat-icon class="menu-icon" no-color (click)="drawer.toggle()">menu</mat-icon>
        </div>
    </mat-toolbar>
    <div class="router-container">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>