.user-detail-header {
    min-height: 200px;
    background-color: rgb(245, 160, 3);
    border-radius: 12px;
    -webkit-box-shadow: 10px 9px 31px -11px #000000;
    box-shadow: 10px 9px 31px -11px #000000;
    color: white;
    display: flex;
    align-items: flex-end;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: none;
    }
}


.user-container {
    margin-left: 16px;
    margin-bottom: 6px;
    display: flex;
    gap: 20px;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;



    h2 {
        margin: 0;
        padding: 0;
    }

    p {
        padding: 0;
        margin: 0;
    }


}