:root {
    --primaryColor: #476585;
    --secondaryColor: #7B98BA;
    --backgroundColor: #E6F4F1;
    --textColor: white;
    --accentColor: black;
    --buttonColor: #99E687;
    --succesColor: #5beb0e;
    --errorColor: #eb0e15;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mt-32 {
    margin-top: 32px;
}


.full-width {
    width: 100%
}

.success-snackbar {
    --mdc-snackbar-container-color: var(--succesColor);
    --mdc-snackbar-supporting-text-color: black;
    --mat-snack-bar-button-color: var(--succesColor);
}


.error-snackbar {
    --mdc-snackbar-container-color: var(--errorColor);
    --mdc-snackbar-supporting-text-color: black;
    --mat-snack-bar-button-color: var(--errorColor);
}

mat-icon {
    color: white !important;
}


// header for Leads, Products and Customers
header {
    padding: 60px;
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    background-color: var(--secondaryColor);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
        font-size: 100px;
        color: var(--textColor)
    }

    .search-field {
        display: flex;
        align-items: center;
        gap: 6px;
        width: 250px;
        height: 30px;
        border-radius: 6px;

    }

}