<header>
  <h1>Leads</h1>
  <select>
    <option value="Filter 1">Company</option>
    <option value="Filter 2">City</option>
    <option>Bereich</option>
  </select>
  <div class="search-field">
    <input class="search-field" type="text" placeholder="search">
    <mat-icon>search</mat-icon>
  </div>
</header>
<table mat-table [dataSource]="getList()" [routerLink]="'/customer/' " class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">
      {{element.firstName}} {{element.lastName}}
    </td>
  </ng-container>

  <ng-container matColumnDef="eMail">
    <th mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let element"> {{element.eMail}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let element"> {{element.zipCode}} {{element.city}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToCustomerDetails(row.id)"></tr>
</table>

<button (click)="openDialog()" class="add-customer-btn" mat-fab color="primary" matTooltip="Add customer">
  <mat-icon>add</mat-icon>
</button>